.list
{
    font-size: 20px;
    /* border-bottom: 0.5px dotted;*/
    /* margin-bottom: 5px; */
    /* padding: 5px; */   
    /* margin: 5px; */
    /*margin-bottom: 5px;*/
    padding-bottom: 5px;
}

a:hover{
    /* color: white;*/
   /*background-color: blue;*/
}