.light-background{
    /*background: #e7e7e7;*/
    background: #ffffff;
    border-radius: 5px;
}
.categories{
    /*height: 38px;*/
    border-radius: 4px;
    /*background: rgb(55, 56, 115);*/
    background: #404b5f;
    /*font-size: 15px;*/
    font-size: 20px;
    color: white;
    /*font-weight: 700;*/
    font-weight: 400;
    /* text-align: revert; */
    /* vertical-align: middle; */
    /* vertical-align: middle; */
   
}
li
{
    /*font-size: 11.5px;*/
    font-size: 15px;
    border-bottom: 0.5px dotted;
    /* margin-bottom: 5px; */
    /* padding: 5px; */   
    /* margin: 5px; */
    margin-bottom: 5px;
    padding-bottom: 5px;
    list-style-type: '⯈  '; 
    border:none;
    color: #404b5f;
    /*padding-left: 20px;*/
    
}
.categories1{
    /*font-size: 11.5px;*/
    font-size: 15px;
    font-weight: 600;
    font-style:bold;
    color:#404b5f;
    padding-bottom:5px;
    margin-bottom:5px;
}